# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.env

# Database
db.sqlite3

# Static files generated during deployment
staticfiles/

# Media (optional - agar uploads GitHub par nahi rakhna chahte)
media/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db